<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBl1jCvwT99MnyZNVKULCnfuEpLmGWpE4</string>
	<key>GCM_SENDER_ID</key>
	<string>316599198493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurentApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-integration-f68ce</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-integration-f68ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316599198493:ios:8d9df2db851ee31559b7f4</string>
</dict>
</plist>